.Title {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: #fff
}
.Title-head {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: #d85e54;
    color: #fff;
}
.Title-Subtitle {
    color: rgba(255, 255, 255, 0.663);
}
.navbar-text{
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 500;
    color: #fff;
}
.navbar{
    display: flex;
    flex-direction: row;
    gap: 10px;
}